$numStars: 100;
$numRockets: 3;
$numParticles: 25;

$animationDuration: 4;

$particleDistance: 200px;

$particleColorPalette: [ [#a67c00, #bf9b30, #ffbf00, #ffcf40, #ffdc73],
  /* Gold */ [#ffbaba, #ff7b7b, #ff5252, #ff0000, #a70000], /* Red */ [#ff71ce,
  #01cdfe, #05ffa1, #b967ff, #fffb96], /* Vapor Wave */ [#cecece, #797979,
  #e5e5e5, #d4d4d4, #c5c5c5], /* Silver */ [#ffb3ba, #ffdfba, #ffffba, #baffc9,
  #bae1ff], /* Pastel Rainbow */ ];

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 93, 255, 1) 100%
  );
  height: 100vh;
  overflow: hidden;
  width: 100vh;
  > .star {
    background-color: white;
    position: absolute;
    height: 2px;
    width: 2px;
    animation: 5s flicker ease-in-out infinite;
    @for $i from 1 through $numStars {
      $starDelay: random(3000);
      $top: percentage(random(100) / 100);
      $left: percentage(random(100) / 100);
      &:nth-child(#{$i}) {
        animation-delay: #{$starDelay}ms;
        top: $top;
        left: $left;
      }
    }
  }
  .wrapper {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    > .rocket-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      .rocket {
        opacity: 0;
        background: white;
        width: 2px;
        height: 4px;
        position: absolute;
        left: calc(50% - 1px);
        top: calc(50% - 2px);
        animation: #{$animationDuration}s fly ease-in infinite;
        animation-delay: var(--rocket-delay);
      }
      .blow {
        position: absolute;
        border: 1px solid white;
        border-radius: 50%;
        animation: #{$animationDuration}s blow ease-out infinite;
        animation-delay: var(--rocket-delay);
      }
      .particle-wrapper {
        > .particle {
          opacity: 0;
          border-radius: 50%;
          position: absolute;
          top: -50px;
          left: -50px;
          width: 100px;
          height: 100px;
          background-color: #fff;
          mix-blend-mode: lighten;
        }
      }

      @for $i from 1 through $numRockets {
        @media (max-width: 479px) {
          &:not(:nth-child(1)) {
            display: none;
          }
        }
        &:nth-child(#{$i}) {
          @media (min-width: 480px) {
            --rocket-delay: #{($i - 1) * ($animationDuration/$numRockets)}s;
            $xOffset: ($i) * (100vw / $numRockets)- (50vw / $numRockets);
            transform: translate(calc(#{$xOffset} - 50vw), 0);
          }

          > .particle-wrapper {
            $palette: nth($particleColorPalette, $i);
            > .particle {
              @for $e from 1 through $numParticles {
                &:nth-child(#{$e}) {
                  background: nth($palette, random(length($palette)));
                  animation-delay: var(--rocket-delay) !important;
                  animation: #{$animationDuration}s
                    boom-#{$i}-#{$e}
                    ease
                    infinite;
                }

                $x: random($particleDistance)-$particleDistance/2;
                $y: random($particleDistance)-$particleDistance/2;
                $keyFrame: 40 + random(20);
                $keyFrame2: $keyFrame + 20;
                @keyframes boom-#{$i}-#{$e} {
                  0%,
                  25% {
                    opacity: 0;
                    transform: translate(-5px, -5px) scale(0);
                  }
                  #{$keyFrame}% {
                    opacity: 1;
                    transform: translate($x, $y) scale(0.05);
                  }
                  #{$keyFrame2}% {
                    transform: translate($x, $y) scale(1);
                    opacity: 1;
                  }
                  100% {
                    transform: translate($x, $y) scale(0.8);
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fly {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }
  26%,
  100% {
    opacity: 0;
  }
}

@keyframes blow {
  0%,
  25% {
    top: -1px;
    left: -1px;
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  26% {
    top: -1px;
    left: -1px;
    width: 2px;
    height: 2px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 0;
    top: -200px;
    left: -200px;
    width: 400px;
    height: 400px;
  }
}
