.select-page {
  background: url("../images/bg.jpg") no-repeat center center fixed;

  .hero-list-wrapper {
    .hero-list {
      @apply text-sm;

      li {
        @apply bg-white relative text-center border border-[10px] border-[var(--theme-grey)] pointer-events-none;

        &:active,
        &.active {
          @apply pointer-events-none text-green-400 after:content-['1'] after:absolute after:top-1/2 after:left-1/2 after:text-6xl after:-translate-y-1/2 after:-translate-x-1/2;

          animation: borderActive 0.1s infinite;
        }

        &.locked {
          img {
            animation: glow 0.3s 3;
          }
          animation: borderDactive 1s 1;
        }

        @keyframes borderDactive {
          100% {
            border-color: rgb(34, 197, 94);
          }
        }

        @keyframes borderActive {
          0% {
            border-color: var(--theme-grey);
          }
          50% {
            border-color: rgb(34, 197, 94);
          }
          80% {
            border-color: rgb(34, 197, 94);
          }
          100% {
            border-color: var(--theme-grey);
          }
        }
      }

      img {
        @apply w-full pointer-events-none;
        transition: opacity 0.3s;
      }

      @keyframes glow {
        0% {
          filter: opacity(1);
        }
        50% {
          filter: opacity(0.3);
        }
        100% {
          filter: opacity(1);
        }
      }
    }
  }
}
